.img-full{
 height: 100vh;
 min-height: 500px;
 background-image: url(img/pexels-jacub-gomez-1142950.jpg);
 background-size: cover;
 background-repeat: no-repeat;
}

.icon-folder-card{
    background: transparent;
    color: white;
    top: 50%;
    left: 25%;
}